.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon {
  color: #ff8000;
}

.description {
  font-size: 20px;
  color: rgb(118, 82, 15);
}
